{% load i18n %}{% autoescape off %}
{% blocktrans %}Bonjour, vous recevez cet e-mail, car vous avez demandé la réinitialisation du mot de passe de votre compte utilisateur à l'adresse {{ site_name }}.{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{% block reset_link %}
http://127.0.0.1:8000/{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% trans "Votre nom d'utilisateur, au cas où vous l'auriez oublié:" %} {{ user.get_username }}

{% trans "Merci d'utiliser notre site!" %}

{% blocktrans %}L'equipe de  {{ site_name }} {% endblocktrans %}

{% endautoescape %}