{% extends 'core/base.html' %}

{% block head_title %}chira-login{% endblock %}


{% block tete %}
    {% include 'core/navbar.html' %}

{% endblock tete %}


{% block content %}
<div class="container">
    <h1>Conditions d'utilisation</h1>
    <p>
        Les présentes Conditions d'utilisation et toutes les conditions incorporées aux présentes (ci-après, les « 
Conditions ») s'appliquent à votre (« utilisateur », « vous ») utilisation des Services, y compris 
https://chiracrypto.com ( "Site Web; propriété de la société Edifice fintech"), la technologie et la plateforme qui y sont intégrées et toutes les applications connexes (y compris, sans s'y limiter, l'application 
mobile) qui y sont associées, qui sont exploitées et maintenues par Edifice fintech sarl.
    </p>

    <p>
        Nous vous offrons la possibilité d'utiliser nos Services tels que définis ci-dessus selon les termes et 
      conditions suivants
    </p>

    <p>
        <h4>1. Application et modifications</h4>
Ces conditions d'utilisation constituent un accord contraignant entre Chiracrypto.com (Edifice fintech) et 
l'utilisateur dès que l'utilisateur visite le site Web et utilise les services. Ce faisant, l'utilisateur confirme 
qu'il a lu ces conditions d'utilisation dans leur intégralité avant de terminer la procédure 
d'enregistrement. <br>
L'utilisateur accepte que les conditions d'utilisation puissent être mises à jour par chiracrypto.com
(Edifice fintech) de temps à autre. Si l'utilisateur ne lit pas et n'accepte pas les Conditions d'utilisation 
dans leur intégralité, il ne doit pas utiliser ou continuer à utiliser les Services. <br>
Nous nous réservons le droit d'altérer, d'amender ou de modifier ces Conditions de temps à autre, à 
notre seule discrétion. Nous vous informerons de ces modifications en envoyant un e-mail, en envoyant 
un avis sur la page d'accueil du site Web et/ou en publiant les conditions modifiées via notre site Web et 
en mettant à jour la date de « dernière mise à jour » en haut de ces conditions. Les conditions modifiées 
seront réputées en vigueur dès leur publication sur le site Web

    </p>

    <p>
        <h4>2. Services fournis</h4>
Nos services vous offrent la possibilité d'échanger un type d'actif cryptographique contre un autre et 
d'accéder à la place de marché. Aux fins des présentes, "Échange" désigne un échange de l'actif cryptographique d'un type contre l'actif 
cryptographique d'un autre type selon les termes et conditions définis par les parties échangeuses, qui 
est exécuté via le service tiers dans la chaîne de blocs respective. Lorsque vous échangez des actifs 
cryptographiques, vous reconnaissez et acceptez que l'échange sera traité par le service d'échange tiers 
avec des frais supplémentaires applicables à cet échange. Vous reconnaissez et acceptez que les 
informations sur les taux de change mises à disposition via les Services ne sont qu'une estimation et 
peuvent différer des taux en vigueur disponibles via d'autres sources en dehors de nos Services.
Les « actifs cryptographiques » seront considérés ici comme un type d'actifs qui ne peuvent être 
transmis qu'au moyen de la technologie de la chaîne de blocs, y compris, mais sans s'y limiter, les pièces 
numériques et les jetons numériques et tout autre type de support d'échange numérique, tel que 
Bitcoin. , Ethereum, Ripple, etc., à l'exemption totale et absolue des titres de toute nature. <br>
« Place de marché » désigne ici une plate-forme d'agrégation numérique en ligne pour les fournisseurs 
de fiat avec une option pour comparer les taux et les limites actuels pour l'achat ou la vente d'actifs 
cryptographiques. <br>
Pour pouvoir utiliser toutes les possibilités et fonctionnalités de nos Services, vous devez suivre le 
processus d'inscription et créer un compte Chiracrypto. "Le compte Chiracrypto" est un compte 
utilisateur accessible après le processus d'inscription et via les Services où l'utilisateur peut demander à 
effectuer un échange d'actifs cryptographiques. L'utilisateur doit gérer et maintenir un seul compte 
Chiracrypto. Il est interdit aux utilisateurs de créer plusieurs comptes. Lorsque vous créez un compte 
Chiracrypto, vous vous engagez à : <br>
Fournir un e-mail exact, qui vous appartient réellement et qui sera donc vérifié. L'accès aux services 
fournis par Chiracrypto sans vérification de l'e-mail n'est pas autorisé . <br>
Maintenir la sécurité de votre compte Chiracrypto et nous informer rapidement si vous découvrez une 
activité suspecte liée à votre compte ; accepter de recevoir des e-mails contenant des informations sur 
les informations d'identification, les mots de passe, les transactions et les promotions marketing . <br>
Acceptez de passer par les procédures AML/ KYC, qui peuvent vous être appliquées conformément à nos 
politiques internes AML/KYC. Dans le cadre de ces procédures, Chiracrypto se réserve le droit de 
demander des informations et des documents supplémentaires, qui visent sans limitation à identifier 
notre utilisateur et à prouver la source des fonds .
Assumer la responsabilité de toutes les activités qui se produisent sous votre compte chiracrypto <br>
L' option "Taux de change variable" désigne ici un mode de taux de change dans lequel notre plateforme 
ne garantit pas le taux. Il fluctue donc en fonction du marché. Vous reconnaissez et acceptez que les 
informations sur les taux de change mises à disposition via les Services pour l'option de taux de change 
flottant ne sont qu'une estimation et peuvent différer des taux réels disponibles via d'autres sources en 
dehors de nos Services. Afin d'éviter toute perte substantielle, lorsqu'un écart important entre un taux
de change estimé disponible sur le site Web et le taux reçu d'un échange tiers survient, une transaction à 
taux de change flottant peut échouer automatiquement. <br>
Lorsque vous utilisez l'option "Taux de change fixe" , votre taux est "verrouillé" pendant quinze ou vingt 
minutes, ce qui signifie qu'il reste le même quelles que soient les variations du marché. Vous 
reconnaissez et acceptez que pour l'option de taux de change fixe, les informations sur les taux de 
change disponibles sur le site Web peuvent être différentes des taux de change pour l'option de taux de 
change flottant. Chiracrypto ne peut garantir l'exécution d'une transaction à taux de change fixe dans 
certains cas, y compris, mais sans s'y limiter, les suivants <br>
l'utilisateur a envoyé des actifs cryptographiques plus de 20 minutes (20 minutes dans le cas de BTC, 
XMR, LTC, DCR, EOS, GAS, BNB, VET) après avoir cliqué sur le bouton "confirmer et effectuer le 
paiement" lors de l'échange via l'option Taux de change fixe; <br>
l'utilisateur a envoyé un montant d'actifs cryptographiques différent du montant à envoyer qui était 
affiché sur le site Web, ou n'a pas pris en compte les frais de retrait et de réseau correspondants, 
envoyant ainsi un montant trop petit ; <br>
l'utilisateur a envoyé des actifs cryptographiques à une adresse unique précédemment utilisée qui avait 
été générée pour une transaction à taux de change fixe ou une transaction à taux de change flottant.
Si malgré les cas susmentionnés, la situation du marché nous permet d'effectuer l'échange, la 
transaction sera effectuée manuellement au taux qui a été confirmé par le client au début de l'échange.
Si la situation du marché est telle que la transaction ne peut plus être exécutée, les crypto-actifs que 
l'utilisateur souhaite échanger seront remboursés, dans la mesure du possible, moins tous les frais 
applicables. <br>
Les problèmes techniques résultant de votre mauvaise utilisation de nos services, tels que la création de 
transactions incorrectes (saisie d'une mauvaise adresse à la fois lors de l'indication de l'adresse du 
destinataire et lors de l'envoi de vos actifs cryptographiques), et d'autres types d'erreurs d'utilisation 
peuvent être résolus par notre service technique. avec des limites. En cas de résolution réussie d'un 
problème technique, les actifs cryptographiques envoyés par erreur seront remboursés à l'utilisateur, 
moins tous les frais applicables. <br>
Le service technique de Chiracrypto est en mesure de rembourser uniquement les BTC à partir de 
l'adresse Segwit BTC. Aucun autre actif cryptographique, y compris, mais sans s'y limiter, LTC, BSV, BCH 
envoyé à une adresse Segwit BTC ne peut être remboursé ;
Aucun actif crypto qui nous est envoyé via un réseau non pris en charge et/ou non recommandé (par 
exemple, le réseau BSC) ne peut être remboursé. Les réseaux recommandés vous seront affichés 
pendant le processus de transaction <br>
Vous reconnaissez et acceptez que tout remboursement peut entraîner des coûts de fonctionnement 
pour les ressources allouées nécessaires à la résolution des problèmes des utilisateurs résultant d'une 
mauvaise utilisation de nos services. Chiracrypto aura le droit de récupérer ses frais de fonctionnement 
pour les services lors de l'exécution de tout remboursement. Dans ce cas, les actifs cryptographiques 
seront remboursés à l'utilisateur, soustrayant les coûts d'exploitation et les frais de réseau, uniquement 
avec le consentement préalable de l'utilisateur. <br>
VOUS INDEMNISEZ ET DÉGAGEZ CHIRACRYPTO DE TOUTE RESPONSABILITÉ CONTRE TOUT DOMMAGE 
DIRECT, INDIRECT, CONSÉCUTIF OU SPÉCIAL, OU TOUT AUTRE DOMMAGE DE QUELQUE NATURE QUE CE 
SOIT, Y COMPRIS, MAIS SANS S'Y LIMITER, LA PERTE D'UTILISATION, LA PERTE DE PROFITS OU LA PERTE 
DE DONNÉES, QUE CE SOIT DANS LE CADRE D'UNE ACTION CONTRACTUELLE , DÉLICTUELLE (Y COMPRIS 
MAIS SANS S'Y LIMITER À LA NÉGLIGENCE) OU AUTREMENT, RÉSULTANT DE OU LIÉS DE QUELQUE 
FAÇON QUE CE SOIT À VOTRE UTILISATION DE NOS SERVICES, Y COMPRIS, MAIS SANS S'Y LIMITER, 
L'UTILISATION INCORRECTE DE L'ADRESSE, LES TRANSACTIONS INCORRECTEMENT CONSTRUITES, ETC. <br>
Chiracrypto ne fournit pas de services de garde, ce qui signifie que nous ne stockons pas vos actifs 
cryptographiques sur les dépôts et les soldes. Dans des cas limités, comme par exemple la nécessité 
d'effectuer une procédure AML/KYC, votre échange peut être retardé. VOUS COMPRENEZ ET 
RECONNAISSEZ QUE DES RETARDS SONT POSSIBLES ; VOUS NOUS INDEMNISEZ ET NOUS GARANTISSEZ 
CONTRE TOUTE RÉCLAMATION, DEMANDE ET DOMMAGE, QU'IL SOIT DIRECT, INDIRECT, CONSÉCUTIF 
OU SPÉCIAL, OU TOUT AUTRE DOMMAGE DE QUELQUE NATURE QUE CE SOIT, Y COMPRIS, MAIS SANS 
S'Y LIMITER, LA PERTE D'UTILISATION, LA PERTE DE PROFITS OU LA PERTE DE DONNÉES, QUE CE SOIT 
DANS UNE ACTION CONTRACTUELLE, DÉLICTUELLE (Y COMPRIS, MAIS SANS S'Y LIMITER, LA 
NÉGLIGENCE) OU AUTREMENT, DÉCOULANT DE OU LIÉ DE QUELQUE FAÇON QUE CE SOIT AU RETARD 
D'ÉCHANGE, QU'IL SOIT PROVENANT DE NOTRE FAUTE OU NON. <br>
Chiracrypto n'est ni le créateur, ni l'administrateur d'un fournisseur fiat sur la place de marché. Par 
conséquent, Chiracrypto n'est pas responsable de la fourniture, de la fixation ou du contrôle des frais 
applicables à l'un des services ou produits que vous trouvez et utilisez via notre place de marché. Il agit 
simplement comme une plate-forme d'atterrissage d'agrégateur pour les différents fournisseurs fiat 
intégrant les API de ces fournisseurs. Toutes les capacités et tous les services de trading fiat sont 
conformes et soumis aux politiques et conditions d'utilisation dudit fournisseur fiat. <br>

<p>
    <h4>3 .Frais</h4>
    Chiracrypto maintient sa politique tarifaire transparente. La structure tarifaire actuelle est à deux 
niveaux et comprend des frais de bourse et de réseau.Les frais de change sont le montant facturé par Chiracrypto pour l'exécution des transactions initiées par 
les utilisateurs. La structure des frais de change dépend du type de transaction : le taux de change 
flottant ou le taux fixe. Les transactions à taux de change flottant entraînent des frais de 0,25 % sur le 
montant de la sortie (cela diffère pour les transactions exécutées via nos partenaires API). Comme pour 
les transactions à taux de change fixe, Chiracrypto trouve le meilleur taux disponible sur le marché et le 
fixe pour la conversion en question ; le taux respectif est affiché à l'utilisateur, garantissant ainsi la 
protection des fonds des utilisateurs contre les fluctuations du marché pendant l'échange. <br>

Les frais de réseau sont payés aux mineurs de crypto-monnaie pour le traitement des transactions sur le 
réseau, et ils servent à assurer les retraits des fonds des bourses. Chiracrypto collecte et transfère ces 
paiements aux bourses respectives, qui fixent elles-mêmes le montant des frais à un moment donné. Au 
moment où une transaction est créée, ces frais sont affichés à l'utilisateur, le montant étant basé sur nos 
estimations. Avec cela, vous reconnaissez et acceptez que le montant final des frais de réseau facturés 
peut parfois différer de notre estimation. Cela se produit entièrement en raison de la nature volatile des 
frais de réseau prévalant sur les échanges et ne dépend en aucun cas de notre plate-forme 
</p>

<p>
    <h4>4. Procédure AML et KYC</h4>
En application de la clause 2.5.5, Chiracrypto se réserve le droit d'appliquer la procédure AML/KYC à des 
utilisateurs particuliers, des adresses et des transactions particulières d'actifs cryptographiques.
Les informations à jour sur les procédures AML/KYC sont toujours disponibles sur AML/KYC.
</p>

<p>
   <h4> 5. Admissibilité</h4>
Avant votre utilisation des Services et sur une base continue, vous déclarez, garantissez, vous engagez et 
convenez que: <br>
Vous utilisez nos Services à votre seule discrétion et risque ; vous êtes seul responsable de toutes les 
taxes applicables pouvant être dues lors de l'utilisation de nos Services ;
Vous n'êtes PAS dans, sous le contrôle de, ou êtes un ressortissant ou résident d'un pays où les 
transactions d'actifs cryptographiques sont explicitement interdites ou des États-Unis d'Amérique (y 
compris tous les territoires américains comme Porto Rico, les Samoa américaines, Guam, les îles 
Mariannes du Nord et les Îles Vierges américaines (Sainte-Croix, Saint-Jean et Saint-Thomas) («Lieux 
restreints»). Chiracrypto n'opère pas dans des emplacements restreints . Chiracrypto se réserve le droit 
de sélectionner les marchés et les juridictions dans lesquels opérer et peut restreindre ou refuser son 
services vers certains pays à tout moment ; <br>
Vous avez au moins 16 ans ou tout autre âge légal, selon votre juridiction compétente ; Vous acceptez de payer les frais pour les échanges effectués via les services tels que définis par 
Chiracrypto, que nous pouvons modifier de temps à autre ; vous comprenez et reconnaissez également
que les frais de retrait du réseau sont applicables à tous les types de retraits demandés par vous, le tiers 
autorisé par vous, ou à la demande d'une autorité compétente ; <br>
il existe des risques associés au système basé sur Internet, tels que la défaillance du matériel, des 
logiciels et des connexions Internet et au protocole Blockchain, tels que tout dysfonctionnement, 
fonction involontaire, fonctionnement inattendu ou attaque du protocole Blockchain ; <br>
Vous garantissez que vos actifs cryptographiques vous appartiennent et qu'ils ne sont pas vendus, 
grevés, non en litige ou sous saisie, et qu'il n'existe aucun droit de tiers sur vos actifs cryptographiques ;
Vous devez fournir des informations correctes pour la construction d'Echange (par exemple, l'adresse du 
portefeuille de paiement et de paiement). Ces adresses de portefeuille ne doivent pas être associées au 
terrorisme, à la fraude, à l'escroquerie ou à tout type d'activité illégale. <br>
Vous déclarez, acceptez et garantissez en outre que vous ne violerez aucune loi, contrat, droit de tiers ou 
commettrez un délit en accédant ou en utilisant les Services, et que vous êtes seul responsable de vos 
actions et/ou inactions lors de l'utilisation de nos Services. Sans préjudice de ce qui précède, vous 
déclarez, acceptez et garantissez que VOUS NE: <br>
utiliser nos Services ou cesserez immédiatement de les utiliser si une loi applicable dans votre pays 
l'interdit ou vous interdira à tout moment de le faire ;utiliser nos Services pour participer à des activités 
frauduleuses, frauduleuses ou illégales ; <br>
échanger via nos Services ou tenter de payer des actifs cryptographiques, qui sont obtenus à partir 
d'activités de jeu illégales ; fraude; blanchiment d'argent; ou des activités terroristes ; ou toute autre 
activité illégale. Avec nos Services, l'utilisateur ne peut utiliser que des actifs cryptographiques, qui sont 
obtenus à partir de sources légales ;fournir des informations fausses, inexactes ou trompeuses ;tenter de 
modifier, décompiler, désosser ou désassembler notre logiciel de quelque manière que ce soit ;
utiliser tout robot, spider, crawler, scraper ou autre moyen automatisé ou interface que nous ne 
fournissons pas pour accéder aux Services ou pour extraire des données ; <br>
tenter de contourner les techniques de filtrage de contenu que nous employons, ou tenter d'accéder à 
un service ou à une partie de nos Services auxquels vous n'êtes pas autorisé à accéder ;
développer des applications tierces qui interagissent avec nos Services sans notre consentement écrit 
préalable ; ET 
Encourager ou inciter un tiers à se livrer à l'une des activités interdites en vertu de la présente section. <br>
VOUS NOUS INDEMNISEZ ET NOUS GARANTISSEZ CONTRE TOUTE RÉCLAMATION, DEMANDE ET 
DOMMAGE, QU'IL SOIT DIRECT, INDIRECT, CONSÉCUTIF OU SPÉCIAL, OU TOUT AUTRE DOMMAGE DE 
QUELQUE NATURE QUE CE SOIT, Y COMPRIS, MAIS SANS S'Y LIMITER, LA PERTE D'UTILISATION, LA PERTE 
DE PROFITS OU LA PERTE DE DONNÉES OU PERTE D'ACTIFS, QUE CE SOIT DANS UNE ACTION 
CONTRACTUELLE, DÉLICTUELLE (Y COMPRIS MAIS SANS S'Y LIMITER À LA NÉGLIGENCE) OU AUTRE, 
PROVENANT DE OU LIÉE DE QUELQUE FAÇON À L'INVALIDITÉ OU À LA VIOLATION DE L'UNE DES 
DISPOSITIONS DE CETTE SECTION ET DE L'ENSEMBLE DES CONDITIONS. <br>



</p>
<p>
    <h4>6. Confidentialité des informations</h4>
Ne partagez jamais les détails de votre transaction, y compris, mais sans s'y limiter, votre identifiant 
Chiracrypto, le hachage de la transaction, l'adresse du destinataire et/ou l'e-mail lié à un compte 
Chiracrypto, avec qui que ce soit à l'exception des représentants de Chiracrypto. Chiracrypto ne vous 
demandera pas d'informations spécifiques sur les comptes d'utilisateurs, les transactions ou d'autres 
données personnellement identifiables, sauf si : (i) les informations sont demandées pour aider à 
compléter une transaction initiée par vous ; (ii) les informations sont demandées pour traiter 
efficacement votre demande ; ou (iii) cela est légalement requis, par exemple dans le cadre de la 
procédure AML/KYC. <br>
Vous devez vous assurer que vos transactions et/ou les détails de votre compte ne sont pas divulgués en 
vous assurant que vous ne les partagez pas sciemment ou accidentellement, ne les fournissez pas ou ne 
facilitez pas leur utilisation non autorisée. <br>
SANS LIMITER CE QUI PRÉCÈDE, CHIRACRYPTO NE SERA PAS RESPONSABLE DES PERTES OU DOMMAGES 
SUBIS À LA SUITE DE TOUTE INFORMATION SOUMIS VIA CE SITE WEB OU TOUT E-MAIL DE CONTACT DE 
CELUI-CI OU POUR SA TRANSMISSION D'INFORMATIONS À TOUTE PERSONNE OU ENTITÉ ( ES) À LA SUITE 
D'UNE DEMANDE D'UNE TELLE TRANSMISSION RAISONNABLEMENT PENSÉE PAR CHIRACRYPTO AVOIR 
ÉTÉ EFFECTUÉE PAR CETTE PERSONNE OU ENTITÉ.
</p>
<p>
   <h4> 7. Divulgation des risques</h4>
Chiracrypto ne fournit et ne fournira aucun conseil en investissement ou conseil juridique concernant 
votre échange. Vous reconnaissez que vous seul êtes responsable de vos décisions et actions effectuées 
sur notre plateforme et nous ne ferons aucune recommandation personnelle ni ne vous conseillerons sur 
l'échange d'actifs cryptographiques particuliers. Avant d'effectuer tout échange d'actifs 
cryptographiques, vous devez soigneusement déterminer si un tel échange vous convient compte tenu 
de votre situation actuelle et de vos ressources financières. <br>
Sachez que les actifs cryptographiques sont généralement supposés être soumis à une forte volatilité car 
ils en sont encore aux premiers stades de développement, technologiquement et financièrement. Les
crypto-actifs ne bénéficient pas nécessairement d'une forme spécifique de protection ou de 
réglementation par un organisme gouvernemental, ce qui signifie qu'en échangeant des crypto-actifs, 
vous ne pourrez pas appliquer les garanties ou les sauvegardes attendues avec les services financiers 
réglementés. <br>
LE RISQUE DE PERTE DANS L'ÉCHANGE DE CRYPTOACTIFS PEUT ÊTRE SUBSTANTIEL, ET PAR 
CONSÉQUENT, VOUS DEVEZ COMPRENDRE LA POSSIBILITÉ DE PERTES ASSOCIÉES À L'ÉCHANGE DE 
CRYPTOACTIFS ET DEVEZ ASSUMER LA RESPONSABILITÉ DE TOUS LES RISQUES ASSOCIÉS À CES 
ÉCHANGES ET DE LEURS RÉSULTATS.
</p>

<p>
    <h4>8. Contenu et services tiers</h4>
Aux fins des présentes, « Contenu tiers » désigne le contenu fourni par des tiers, y compris, sans s'y 
limiter, les liens vers les pages Web de ces parties, qui peuvent être représentés sur le site Web et 
d'autres services. Dans le même temps , "service tiers" fait référence à toute plate-forme ou réseau dans 
lequel les actifs cryptographiques vous appartiennent ou dont vous êtes le bénéficiaire effectif des actifs 
cryptographiques ; ou tout site Web ou plate-forme vers lequel nous vous redirigeons ; et cette plateforme ou ce site Web est géré par un tiers en dehors des Services, y compris, mais sans s'y limiter, les 
comptes de tiers. <br>

Exactitude des prix. Bien que nous appliquions des politiques strictes d'exactitude des prix pour tous les 
fournisseurs fiat et que nous fassions de notre mieux pour nous assurer que le contenu affiché sur ou via 
notre Marketplace est à jour et exact, nous ne pouvons garantir la fiabilité ou l'exactitude de ce contenu.
Aucun contrôle sur les services tiers. Si vous rencontrez des problèmes avec des services tiers disponibles 
via Chiracrypto, vous reconnaissez que vous devez résoudre ce problème avec le tiers ou le fournisseur 
fiat concerné et que votre seul recours dans de telles circonstances relève du tiers concerné et non de 
celui-ci. <br>
Des frais peuvent vous être facturés par le fournisseur de services tiers. Chiracrypto n'est pas 
responsable des frais des services tiers. Vous êtes seul responsable de votre utilisation du service tiers et 
vous acceptez de vous conformer à toutes les conditions générales applicables à tout service tiers.
L'écart des taux de change est à tout moment possible grâce aux algorithmes tiers. VOUS INDEMNISEZ ET 
DÉGAGEZ CHIRACRYPTO DE TOUTE RESPONSABILITÉ CONTRE TOUT DOMMAGE DIRECT, INDIRECT, <br>
CONSÉCUTIF OU SPÉCIAL, OU TOUT AUTRE DOMMAGE DE QUELQUE NATURE QUE CE SOIT, Y COMPRIS, 
MAIS SANS S'Y LIMITER, LA PERTE D'UTILISATION, LA PERTE DE PROFITS OU LA PERTE DE DONNÉES, QUE 
CE SOIT DANS LE CADRE D'UNE ACTION CONTRACTUELLE , DÉLICTUELLE (Y COMPRIS, MAIS SANS S'Y <br>
LIMITER, LA NÉGLIGENCE) OU AUTRE, RÉSULTANT DE OU LIÉE DE QUELQUE FAÇON QUE CE SOIT À 
L'ÉCART DE TAUX DE CHANGE SUSMENTIONNÉ QUI EST INFÉRIEUR À 10 USD. <br>
Lors de l'utilisation de nos services, vous pouvez voir du contenu tiers. Nous ne contrôlons, n'approuvons 
ni n'adoptons (sauf indication contraire expresse de notre part) tout contenu de tiers et n'assumons 
aucune responsabilité pour le contenu de tiers, y compris, sans s'y limiter, le matériel pouvant être 
trompeur, incomplet, erroné, offensant, indécent ou autre répréhensible. De plus, vos relations 
commerciales ou votre correspondance avec ces tiers sont uniquement entre vous et les tiers. Nous ne 
sommes pas responsables de toute perte ou dommage de quelque nature que ce soit résultant de telles 
transactions, et vous comprenez que votre utilisation du contenu tiers et vos interactions avec des tiers 
sont à vos risques et périls.

</p>

<p>
    <h4>9. Propriété intellectuelle</h4>
Tous nos actifs de propriété intellectuelle ("PI"), y compris, mais sans s'y limiter, tous les droits d'auteur, 
marques de commerce, brevets, marques de service, noms commerciaux, code logiciel, icônes, logos, 
personnages, mises en page, secrets commerciaux, boutons, schéma de couleurs et graphiques sont 
protégés par les lois et traités locaux et internationaux sur la propriété intellectuelle.
Nous vous accordons par la présente une licence limitée, non exclusive et non sous-licenciable pour 
accéder et utiliser notre IP pour votre usage personnel uniquement. <br>
Dans tous les cas, vous ne pouvez pas altérer, modifier, reproduire, distribuer ou exploiter 
commercialement tout matériel, y compris le texte, les graphiques, la vidéo, l'audio, le code logiciel, la 
conception de l'interface utilisateur ou les logos. <br>
La licence accordée en vertu de la présente section sera automatiquement résiliée si nous suspendons
ou résilions votre accès aux services.
Si vous téléchargez ou partagez des commentaires, des suggestions, des idées ou d'autres informations 
ou documents ( "Contenu" ) avec nous, vous nous accordez automatiquement une licence mondiale pour 
utiliser votre contenu. Il devient une partie du domaine public tant qu'il reste sur notre site Web et nos 
services. Il peut être utilisé à des fins de marketing ou à toute autre fin à notre seule discrétion
</p>

<p>
    <h4>10. Communication</h4>
Vous acceptez et consentez à recevoir par voie électronique toutes les communications que Chiracrypto
peut être disposé à vous communiquer en relation avec votre compte Chiracrypto et/ou l'utilisation de 
nos services. Aux fins des présentes, « Communications » désigne l'ensemble des communications,
accords, documents, reçus, avis et divulgations, qui peuvent être adressés de temps à autre à l'utilisateur 
par Chiracrypto. Vous pouvez retirer votre consentement à recevoir des communications électroniques 
en envoyant un avis de retrait au support. Si tel est le cas, vous renoncez à votre droit de plaider <br>
'ignorance. Si vous refusez ou retirez votre consentement à recevoir des Communications électroniques, 
Chiracrypto peut suspendre ou résilier votre utilisation des Services

</p>
<p>
    <h4>11. Limitation de responsabilité</h4>
Sauf disposition expresse contraire dans un écrit de notre part, nos services sont fournis sur une base « 
tels quels » et « selon la disponibilité ». NOUS DÉCLINONS EXPRESSÉMENT ET VOUS RENONCEZ À TOUTE 
GARANTIE DE QUELQUE NATURE QUE CE SOIT, EXPRESSE OU IMPLICITE, Y COMPRIS, SANS S'Y LIMITER, 
LES GARANTIES IMPLICITES DE QUALITÉ MARCHANDE, D'ADÉQUATION À UN USAGE PARTICULIER, DE 
TITRE ET D'ABSENCE DE CONTREFAÇON À NOS SERVICES, Y COMPRIS LES INFORMATIONS, LE CONTENU 
ET MATÉRIAUX QU'ILS CONTIENNENT. <br>
Sauf disposition contraire de la loi, EN AUCUN CAS CHIRACRYPTO, NOS ADMINISTRATEURS, DIRIGEANTS, 
MEMBRES, EMPLOYÉS OU AGENTS NE SERONT RESPONSABLES DE TOUT DOMMAGE DIRECT, INDIRECT, 
CONSÉCUTIF OU SPÉCIAL, OU DE TOUT AUTRE DOMMAGE DE QUELQUE NATURE QUE CE SOIT, Y 
COMPRIS, MAIS SANS S'Y LIMITER , PERTE D'UTILISATION, PERTE DE PROFITS OU PERTE DE DONNÉES, 
QUE CE SOIT DANS UNE ACTION CONTRACTUELLE, DÉLICTUELLE (Y COMPRIS MAIS SANS S'Y LIMITER À LA 
NÉGLIGENCE) OU AUTRE, RÉSULTANT DE OU LIÉS DE QUELQUE FAÇON QUE CE SOIT À L'UTILISATION OU 
À L'INCAPACITÉ D'UTILISER NOS SERVICES , Y COMPRIS, SANS S'Y LIMITER, TOUT DOMMAGE CAUSÉ PAR 
OU RÉSULTANT DE LA CONFIANCE D'UN UTILISATEUR À TOUTE INFORMATION OBTENUE AUPRÈS DE 
CHIRACRYPTO, OU RÉSULTANT D'ERREURS, OMISSIONS, INTERRUPTIONS, SUPPRESSION DE FICHIERS OU 
DE COURRIELS, ERREURS, DÉFAUTS, VIRUS, RETARDS DE FONCTIONNEMENT OU DE TRANSMISSION OU 
TOUTE DEFAUT D'EXECUTION RESULTANT OU NON D'UN CAS DE FORCE MAJEURE,ÉCHEC DE 
COMMUNICATION, VOL, DESTRUCTION OU ACCÈS NON AUTORISÉ AUX DOSSIERS, PROGRAMMES OU 
SERVICES DE CHIRACRYPTO. <br>
Les échanges via nos Services ne peuvent pas être annulés par Chiracrypto. Par conséquent, vérifiez les 
détails de vos détails d'échange avant d'effectuer un tel échange. Chiracrypto n'est pas responsable de 
vos actifs cryptographiques une fois qu'ils ont été envoyés en dehors des Services. De plus, Chiracrypto
ne garantit pas la disponibilité de l'échange. <br>

Dans la mesure maximale autorisée par la loi applicable, EN AUCUN CAS LA RESPONSABILITÉ GLOBALE 
DE CHIRACRYPTO (Y COMPRIS NOS ADMINISTRATEURS, DIRIGEANTS, MEMBRES, EMPLOYÉS ET AGENTS), 
QUE CE SOIT DANS UN CONTRAT, UNE GARANTIE, UN DÉLIT (Y COMPRIS LA NÉGLIGENCE, QU'ELLE SOIT 
ACTIVE, PASSIVE OU IMPUTÉE) , RESPONSABILITÉ DU PRODUIT, RESPONSABILITÉ STRICTE OU AUTRE 
THÉORIE, DÉCOULANT DE OU LIÉE À L'UTILISATION OU À L'INCAPACITÉ D'UTILISER, CHIRACRYPTO OU 
CES CONDITIONS DÉPASSENT LES FRAIS PAYÉS PAR VOUS À CHIRACRYPTO DANS LES 3 MOIS PRÉCÉDANT 
IMMÉDIATEMENT LA DATE DE TOUTE RÉCLAMATION DONNANT LIEU À CETTE RESPONSABILITÉ <br>
Nous nous efforçons de protéger nos utilisateurs contre les activités frauduleuses dans le domaine des 
actifs cryptographiques. Il est possible que certains actifs cryptographiques soient destinés à la saisie 
illégale de la propriété, ou soient interprétés comme une fraude, une escroquerie ou toute autre activité, 
reconnue par les lois comme illégale et/ou non conforme aux exigences légales. Chiracrypto coopère 
avec les forces de l'ordre et d'autres autorités compétentes afin de déterminer et de divulguer ces 
crypto-actifs. Nous nous réservons le droit d'interdire et d'interrompre tout échange via nos services 
avec un tel actif cryptographique à notre seule discrétion, sans préavis et sans publication du motif de 
cette décision, chaque fois que cela vient à notre connaissance. VOUS INDEMNISEZ ET DÉGAGEZ 
CHIRACRYPTO DE TOUTE RÉCLAMATION, DEMANDE ET DOMMAGE, QU'ILS SOIENT DIRECTS, INDIRECTS, 
CONSÉCUTIFS OU SPÉCIAUX

</p>
<p>
    <h4>12. Aucune offre de valeurs mobilières</h4>
Chiracrypto prend toutes les mesures possibles pour intégrer et échanger ces pièces numériques et 
jetons numériques et autres types de supports d'échange numériques uniquement qui ne peuvent pas 
être classés comme "sécurité" par la SEC ou d'autres autorités nationales compétentes. <br>
La responsabilité du fait que l'actif cryptographique ne peut pas être traité comme une « sécurité » 
incombe au propriétaire du jeton numérique et/ou de la pièce numérique. Chiracrypto se réserve le 
droit, à sa seule discrétion, d'interdire et d'interrompre tout échange (ainsi que tout autre type de 
transaction) avec le jeton ou la pièce s'il existe un risque ou des spéculations selon lesquelles ce jeton 
et/ou cette pièce peuvent être traités comme une "sécurité “. <br>
Nous suivons les meilleures pratiques pour décider si les actifs cryptographiques sont sécurisés ou non. 
Cependant, pour éviter tout doute, les dispositions de cette clause ne constituent pas ou ne sont pas 
réputées être interprétées comme constituant une garantie et / ou un investissement, un conseil 
financier, juridique ou tout autre conseil professionnel, que tout crypto-actif que tout crypto-actif 
disponible via notre Les services ne sont pas une sécurité
</p>

<p>
    <h4>13. Résiliation des Conditions</h4>
Nous nous réservons le droit de résilier ces Conditions et de supprimer votre Compte Chiracrypto et 
votre inscription (y compris votre nom d'utilisateur et votre mot de passe) dans les cas suivants :
Si, pour une raison quelconque, Nous décidons d'interrompre la fourniture du Service, en fournissant un 
préavis d'au moins 3 (trois) jours calendaires (qui sera fourni par e-mail) ;
Si nous pensons que vous avez enfreint l'un des termes de ces conditions, immédiatement sans préavis ;
Si Nous décidons de résilier nos Services, immédiatement sans préavis <br>
Chiracrypto peut suspendre ou résilier votre compte ou l'utilisation des Services, ou le traitement de 
toute transaction d'actifs cryptographiques, à tout moment s'il détermine, à sa seule discrétion, que vous 
accédez aux Services à partir d'un Emplacement restreint ou que vous résidez dans un (voir cl.5.1.3. de 
nos Conditions d'utilisation).
</p>
<p>
    <h4>14. Loi applicable ; Arbitrage</h4>
Vous et Chiracrypto ( Edifice fintech) acceptez d'arbitrer tout litige découlant des présentes Conditions 
ou de votre utilisation des Services, à l'exception des litiges dans lesquels l'une ou l'autre des parties 
demande une réparation équitable ou autre pour l'utilisation illégale présumée des droits d'auteur, des 
marques, des noms commerciaux, des logos, des secrets commerciaux ou des brevets. .
Vous et Chiracrypto acceptez de vous notifier par écrit tout litige dans les trente (30) jours suivant sa 
survenance. L'avis à Chiracrypto doit être envoyé à management@chiracrypto.com
Tout litige, controverse, différend ou réclamation découlant de ou lié aux Conditions, y compris 
l'existence, la validité, l'interprétation, l'exécution, la violation ou la résiliation de celles-ci ou tout litige 
concernant des obligations non contractuelles découlant de ou lié à celles-ci sera renvoyé à et 
finalement résolu par arbitrage administré par le tribunal du commerce d’abidjan.
La loi de cette clause d'arbitrage sera la loi de cote d’ivoire. <br>
Le siège de l'arbitrage sera à ABIDJAN.
La procédure d'arbitrage se déroulera en FRANCAIS.
Outre les procédures collectives et les recours décrits ci-dessous, l'arbitre a le pouvoir d'accorder tout 
recours qui serait autrement disponible devant un tribunal. Tout litige entre les parties sera régi par les 
présentes Conditions et les lois De cote d’ivoire, sans donner effet aux principes de conflit de lois qui 
pourraient prévoir l'application de la loi d'une autre juridiction. <br>
Que le différend soit entendu en arbitrage ou devant un tribunal, vous n'engagerez pas contre 
Chiracrypto un recours collectif, un arbitrage collectif ou une action ou procédure représentative.
</p>

<p>
   <h4> 15. Divers</h4>
Ces conditions contiennent l'intégralité de l'accord et remplacent tous les accords antérieurs et 
contemporains entre les parties concernant les servicesEn cas de conflit entre les présentes Conditions et tout autre accord que vous pourriez avoir avec 
Chiracrypto, les termes de cet autre accord ne prévaudront que si ces Conditions sont spécifiquement 
identifiées et déclarées être annulées par cet autre accord. <br>
Notre échec ou notre retard dans l'exercice de tout droit, pouvoir ou privilège en vertu des présentes 
Conditions ne constituera pas une renonciation à celui-ci. <br>
L'invalidité ou l'inapplicabilité de l'une de ces Conditions n'affectera pas la validité ou l'applicabilité de 
toute autre de ces Conditions, qui resteront toutes en vigueur et de plein effet.
Vous ne pouvez céder ou transférer aucun de vos droits ou obligations en vertu des présentes Conditions 
sans le consentement écrit préalable de Chiracrypto, y compris par effet de la loi ou en relation avec tout 
changement de contrôle. Chiracrypto peut céder ou transférer tout ou partie de ses droits en vertu des 
présentes Conditions, en tout ou en partie, sans obtenir votre consentement ou votre approbation
</p>

   
</div>
{% endblock %}